{% comment %}
Cart giveaway progress bar
$100 = 1 ticket
{% endcomment %}

{%- liquid
  assign ticket_threshold = 10000
  assign cart_total = cart.total_price | default: 0

  assign tickets_unlocked = cart_total | divided_by: ticket_threshold
  assign remainder_amount = cart_total | modulo: ticket_threshold
  assign progress_percent = remainder_amount | times: 100 | divided_by: ticket_threshold
  assign remaining_amount = ticket_threshold | minus: remainder_amount

  if remainder_amount == 0
    assign remaining_amount = 0
    assign progress_percent = 0
  endif

  if progress_percent > 100
    assign progress_percent = 100
  endif
-%}

<div class="cart-progress">
  {% if tickets_unlocked >= 1 %}
    <p class="cart-progress__message">
      You’ve unlocked <span class="highlight">{{ tickets_unlocked }}</span>
      ticket{% if tickets_unlocked != 1 %}s{% endif %}!
    </p>

    {% if remaining_amount > 0 %}
      <p class="cart-progress__message">
        You're <span class="highlight">{{ remaining_amount | money_without_trailing_zeros }}</span>
        away from your next <span class="highlight">GIVEAWAY ENTRY</span>
      </p>
    {% else %}
      <p class="cart-progress__message">
        Add more to start earning your next ticket.
      </p>
    {% endif %}
  {% else %}
    <p class="cart-progress__message">
      You're <span class="highlight">{{ remaining_amount | money_without_trailing_zeros }}</span>
      away from <span class="highlight">A GIVEAWAY ENTRY</span>
    </p>
  {% endif %}

  <div class="cart-progress__bar">
    <div
      class="cart-progress__fill"
      style="width: {{ progress_percent }}%;">
    </div>
  </div>
</div>
