
  
  
/* desktop styles */
  @media (min-width: 480px) {

    /* email sign up image height*/ 
    div#shopify-section-template--19068398928030__section_37aQ4V {
  div.image-block.image-block--Adk04WStwUkw4a05xM__image_q3iqH3.image-block--height-fit.spacing-style.size-style {
    height: 70%; 
  }

div.group-block.group-block--height-fit.group-block--width-custom.border-style.spacing-style.size-style {
padding-left: 2.5rem; 
}
}
    
  /* footer styles */ 
  /* footer menu width */ 
footer#shopify-section-sections--19068398534814__footer {
    .menu {
        width: 25% !important; 
    }
}  







}


/* mobile styles */
    @media (max-width: 480px) {

    .header__columns .header-logo {
        grid-area: leftB !important;
    }
    .header__columns:not(:has(.account-actions)) .search-action {
        grid-area: rightA !important; 
        margin-right: 1.5rem;
    }
a#account-icon.header-actions__action.action__account {
    grid-area: rightB !important; 
}

    .header__columns.header-actions {
    
        grid-area: rightB;
        
    }
header#shopify-section-sections--19068398567582__header_section {
.header-logo__image {
    object-fit: cover; 
}
.header__icon--summary .header-drawer-icon {
    width: 1.2rem; 
}

a.size-style.spacing-style.header-logo {
    width: 5rem; 
}
/* mobile header divider settings */ 
.mobile-header-divider {
    width: 1px; 
    height: 60%; 
    background: #d9d9d9;
    grid-area: leftB !important; 
    align-content: center; 
}  

}

/* mobile footer styles css */

footer#shopify-section-sections--19068398534814__footer {
div.group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column
    {

padding-top: 1.5rem ;
    }

    div.group-block-content.layout-panel-flex.layout-panel-flex--row.mobile-column
     {
border-top: var(--style-border-width) solid var(--color-border);
    }; 
     }



/* product page styles css */ 
.mobile-product-title {
    font-size: 24px; 
    margin-top: 0px; 
}



}
    
  







    

/* button height for product cards */
    div#shopify-section-template--19068398928030__product_list_qU3bEB, div#shopify-section-template--19068398862494__main {
       a.button {
            height: 2.75rem; 
        }
    }



    /* collection page css */

    /* filtering styles css */
div.facets-block-wrapper.facets-block-wrapper--vertical {
    span.facets__label {
font-size: 16px; 
font-weight: bold; 
    }
}






/*header styles css */ 

header#shopify-section-sections--19068398567582__header_section {
span.menu-list__link-title:hover { 
color: #1E00A5; 
}


/* account icon */ 
a#account-icon.header-actions__action.action__account {
    span.svg-wrapper {
svg#Layer_1 
 { 
    align-self: center;
    margin-bottom: 2px; 
    margin-left: 4px; 
    width: 17.5px; 
    overflow: visible;

    path {
        width: 17.5px;
           stroke: #ffffff;
    stroke-width: 4px;
   
    }

}
    }
}
}


/* breadcrumbs styles css */
nav.breadcrumbs {
padding-top: 1%; 
margin: 0px; 
height: fit-content; 




.breadcrumbs__list {
  display: flex; 
  align-items: baseline; 
  margin: 0px; 
  gap: 3px; 
  padding-left: 0px; 

  li::marker {
    content: '';
  }
}

 @media (max-width: 480px) {
.breadcrumbs__list {
padding-left: 10px !important ; 
padding-top: 3px; 
padding-bottom: 3px; 
padding-left: 0px !important; 
list-style: none !important; 

li::marker {
    content: '' !important ;
  }
}
}


li#breadcrumb-text, a#breadcrumb-text {
color: #2c2c2c; 
font-size: 14px !important ; 
}

li::marker {
  display: none !important ; 
}



}