
  
  
/* desktop styles */
  @media (min-width: 480px) {

    /* email sign up image height*/ 
    div#shopify-section-template--19068398928030__section_37aQ4V {
  div.image-block.image-block--Adk04WStwUkw4a05xM__image_q3iqH3.image-block--height-fit.spacing-style.size-style {
    height: 70%; 
  }






  /* footer styles */ 
  /* footer menu width */ 





div.group-block.group-block--height-fit.group-block--width-custom.border-style.spacing-style.size-style {
padding-left: 2.5rem; 
}
}
    
  







}


/* mobile styles */
    @media (max-width: 480px) {

    .header__columns .header-logo {
        grid-area: leftB !important;
    }
    .header__columns:not(:has(.account-actions)) .search-action {
        grid-area: rightA !important; 
        margin-right: 1.5rem;
    }
a#account-icon.header-actions__action.action__account {
    grid-area: rightB !important; 
}

    .header__columns.header-actions {
    
        grid-area: rightB;
        
    }

/* account icon mobile */ 
a#account-icon.header-actions__action.action__account {
    span.svg-wrapper {
svg#Layer_1 
 { 
    align-self: center;
    margin-bottom: 2px; 
    margin-left: 4px; 

    path {
        width: 5px !important;
           stroke: #ffffff;
    stroke-width: 4px;
   
    }

}
    }
}




/* button height for product cards */
    div#shopify-section-template--19068398928030__product_list_qU3bEB, div#shopify-section-template--19068398862494__main {
       a.button {
            height: 2.75rem; 
        }
    }



    /* collection page css */

    /* filtering styles css */
div.facets-block-wrapper.facets-block-wrapper--vertical {
    span.facets__label {
font-size: 16px; 
font-weight: bold; 
    }
}



footer#shopify-section-sections--19068398534814__footer {
    .menu {
        width: 25% !important; 
    }
}


/*header styles css */ 

header#shopify-section-sections--19068398567582__header_section {
span.menu-list__link-title:hover { 
color: #1E00A5; 
}
}

